# Dependencies
/node_modules
/vendor

# Build outputs
/public

# Environment files
.env
.env.local
.env.production

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Composer
composer.lock

# pnpm
pnpm-lock.yaml

# Temporary files
tmp/
storybook-screenshots/
storybook-videos/
playwright-report/
test-results/

# custom
*storybook.log
storybook-static
