includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    paths:
        - src/
        - templates/
        - template-parts/
    excludePaths:
        - vendor/
        - node_modules/
        - assets/
    scanFiles:
        - functions.php
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    ignoreErrors:
        - '#Function \\w+ not found\.#'
        - '#Class WP_Customize_Manager not found\.#'
        - '#Method TikaToneTheme\\\\\\w+::\\w+\\(\\) invoked with \\d+ parameters, \\d+ required\.#'
        - '#Parameter \#1 \$callback of function add_action expects callable\(\): mixed, array\\{TikaToneTheme\\\\\\w+, \\w+\\}\\(\\) given\.#'
        - '#Access to an undefined property WP_Post::\\w+\.#'
        - '#Cannot call method get\(\) on mixed\.#'
        - '#Method TikaToneTheme\\\\Helpers\\\\TemplateHelpers::\\w+\\(\\) should return string but returns void\.#'

    reportUnmatchedIgnoredErrors: false
