parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '#Call to undefined function.*#'
        - '#Function.*not found.*#'
        - '#Constant.*not found.*#'
    parallel:
        maximumNumberOfProcesses: 1
    tmpDir: /tmp/phpstan
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - '*/tests/*'
        - '*/vendor/*'
        - '*/node_modules/*'
        - '*/wp-admin/*'
        - '*/wp-includes/*'
        - '*/wp-content/themes/*'
        - '*/wp-content/uploads/*'