@theme {
  --color-primary: #4b6700;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #b8f600;
  --color-onPrimaryContainer: #384e00;
  --color-secondary: #4f6542;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #d1eabf;
  --color-onSecondaryContainer: #374c2c;
  --color-tertiary: #3b6843;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #bcefc0;
  --color-onTertiaryContainer: #23502d;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #f8fbe7;
  --color-onBackground: #191d11;
  --color-surface: #f8fbe7;
  --color-surfaceDim: #d9dcc8;
  --color-surfaceBright: #f8fbe7;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #f2f6e1;
  --color-surfaceContainer: #edf0db;
  --color-surfaceContainerHigh: #e7ead6;
  --color-surfaceContainerHighest: #e1e4d0;
  --color-onSurface: #191d11;
  --color-surfaceVariant: #e0e5cd;
  --color-onSurfaceVariant: #444937;
  --color-outline: #747965;
  --color-outlineVariant: #c4c9b2;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #2e3224;
  --color-inverseOnSurface: #eff3de;
  --color-inversePrimary: #a1d800;
}

[data-theme="dark"] {
  --color-primary: #a1d800;
  --color-onPrimary: #253500;
  --color-primaryContainer: #384e00;
  --color-onPrimaryContainer: #b8f600;
  --color-secondary: #b5cea4;
  --color-onSecondary: #223518;
  --color-secondaryContainer: #374c2c;
  --color-onSecondaryContainer: #d1eabf;
  --color-tertiary: #a1d3a5;
  --color-onTertiary: #083818;
  --color-tertiaryContainer: #23502d;
  --color-onTertiaryContainer: #bcefc0;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #111509;
  --color-onBackground: #e1e4d0;
  --color-surface: #111509;
  --color-surfaceDim: #111509;
  --color-surfaceBright: #373b2d;
  --color-surfaceContainerLowest: #0c0f05;
  --color-surfaceContainerLow: #191d11;
  --color-surfaceContainer: #1d2115;
  --color-surfaceContainerHigh: #282b1e;
  --color-surfaceContainerHighest: #323629;
  --color-onSurface: #e1e4d0;
  --color-surfaceVariant: #444937;
  --color-onSurfaceVariant: #c4c9b2;
  --color-outline: #8e937e;
  --color-outlineVariant: #444937;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #e1e4d0;
  --color-inverseOnSurface: #2e3224;
  --color-inversePrimary: #4b6700;
}