@theme {
  --color-primary: #0c658e;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #c8e6ff;
  --color-onPrimaryContainer: #004c6d;
  --color-secondary: #80543e;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #ffdbcb;
  --color-onSecondaryContainer: #653d28;
  --color-tertiary: #596328;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #dde9a0;
  --color-onTertiaryContainer: #424b13;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff8f7;
  --color-onBackground: #241819;
  --color-surface: #fff8f7;
  --color-surfaceDim: #ebd5d5;
  --color-surfaceBright: #fff8f7;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #fff0f0;
  --color-surfaceContainer: #ffe9e9;
  --color-surfaceContainerHigh: #fae3e3;
  --color-surfaceContainerHighest: #f4dddd;
  --color-onSurface: #241819;
  --color-surfaceVariant: #fcdbdb;
  --color-onSurfaceVariant: #574142;
  --color-outline: #8b7171;
  --color-outlineVariant: #debfc0;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #3b2d2d;
  --color-inverseOnSurface: #ffedec;
  --color-inversePrimary: #8acefd;
}

[data-theme="dark"] {
  --color-primary: #8acefd;
  --color-onPrimary: #00344d;
  --color-primaryContainer: #004c6d;
  --color-onPrimaryContainer: #c8e6ff;
  --color-secondary: #f4ba9e;
  --color-onSecondary: #4b2714;
  --color-secondaryContainer: #653d28;
  --color-onSecondaryContainer: #ffdbcb;
  --color-tertiary: #c1cd86;
  --color-onTertiary: #2c3400;
  --color-tertiaryContainer: #424b13;
  --color-onTertiaryContainer: #dde9a0;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #1c1011;
  --color-onBackground: #f4dddd;
  --color-surface: #1c1011;
  --color-surfaceDim: #1c1011;
  --color-surfaceBright: #443636;
  --color-surfaceContainerLowest: #160b0c;
  --color-surfaceContainerLow: #241819;
  --color-surfaceContainer: #291c1d;
  --color-surfaceContainerHigh: #342727;
  --color-surfaceContainerHighest: #3f3132;
  --color-onSurface: #f4dddd;
  --color-surfaceVariant: #574142;
  --color-onSurfaceVariant: #debfc0;
  --color-outline: #a68a8b;
  --color-outlineVariant: #574142;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #f4dddd;
  --color-inverseOnSurface: #3b2d2d;
  --color-inversePrimary: #0c658e;
}