@theme {
  --color-primary: #006c52;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #29ab87;
  --color-onPrimaryContainer: #003829;
  --color-secondary: #3d6657;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #bcead6;
  --color-onSecondaryContainer: #416b5b;
  --color-tertiary: #9c423a;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #e4796e;
  --color-onTertiaryContainer: #5f1411;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #f5fbf6;
  --color-onBackground: #171d1a;
  --color-surface: #f5fbf6;
  --color-surfaceDim: #d5dbd7;
  --color-surfaceBright: #f5fbf6;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #eff5f0;
  --color-surfaceContainer: #e9efea;
  --color-surfaceContainerHigh: #e4eae5;
  --color-surfaceContainerHighest: #dee4df;
  --color-onSurface: #171d1a;
  --color-surfaceVariant: #d8e6de;
  --color-onSurfaceVariant: #3d4944;
  --color-outline: #6d7a74;
  --color-outlineVariant: #bccac2;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #2c322f;
  --color-inverseOnSurface: #ecf2ed;
  --color-inversePrimary: #64dbb4;
}

[data-theme="dark"] {
  --color-primary: #64dbb4;
  --color-onPrimary: #003829;
  --color-primaryContainer: #29ab87;
  --color-onPrimaryContainer: #003829;
  --color-secondary: #a4d0bd;
  --color-onSecondary: #0a372a;
  --color-secondaryContainer: #275142;
  --color-onSecondaryContainer: #96c2af;
  --color-tertiary: #ffb4ab;
  --color-onTertiary: #5f1411;
  --color-tertiaryContainer: #e4796e;
  --color-onTertiaryContainer: #5f1411;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #0f1512;
  --color-onBackground: #dee4df;
  --color-surface: #0f1512;
  --color-surfaceDim: #0f1512;
  --color-surfaceBright: #343b37;
  --color-surfaceContainerLowest: #0a0f0d;
  --color-surfaceContainerLow: #171d1a;
  --color-surfaceContainer: #1b211e;
  --color-surfaceContainerHigh: #252b28;
  --color-surfaceContainerHighest: #303633;
  --color-onSurface: #dee4df;
  --color-surfaceVariant: #3d4944;
  --color-onSurfaceVariant: #bccac2;
  --color-outline: #86948d;
  --color-outlineVariant: #3d4944;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #dee4df;
  --color-inverseOnSurface: #2c322f;
  --color-inversePrimary: #006c52;
}